/* Galeria de Ícones */
#icones-galeria {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
  padding: 5px;
  overflow: hidden;
}
#icones-galeria img {
  flex-shrink: 0;
  border-radius: 8px;
  width: 45px!important;
  background: #043749!important;
  border: 2px solid transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
  overflow: hidden;
}
#icones-galeria img.selected,
#icones-galeria img.border-success {
  border-color: #57C785 !important;
  box-shadow: 0 0 0 2px #57C785;
  overflow: hidden;
}

.btn-success {
  background-color: #57C785 !important;
  border-color: #57C785 !important;
  color: #fff !important;
  transition: background 0.3s, border 0.3s;
}
/* Fim: Galeria de Ícones */

/* Bloco de Código */
.code-block {
  font-family: 'Fira Mono', 'Consolas', monospace;
  font-size: 15px;
  background: #f8fafd;
  color: #182233;
  border-radius: 6px;
  border: 1px solid #e1e5ec;
  resize: vertical;
  min-height: 130px;
  tab-size: 2;
  white-space: pre;
}
/* Fim: Bloco de Código */

/* FAQ */
.faq-card  {
  background: #fff;
  border: 2px solid #232a39;
  border-radius: 18px;
  transition: box-shadow 0.2s;
}

.faq-card img {
  border-radius: 18px!important;
}

.faq-card:hover {
  box-shadow: 0 2px 16px #232a3925;
}

.faq-img {
  width: 90px;
  height: 90px;
  /*background: #f5f6fa;*/
  border: 2px solid #232a39;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main, .container.mb-5 {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}
/* Fim: FAQ */

/* Contato */
#form-contato .form-control {
  font-size: 1.3rem;
  padding: 1rem 1.2rem;
  border: 2px solid #232a39;
  background: #f9fafd;
  transition: border-color 0.2s;
}
#form-contato .form-control:focus {
  border-color: #57C785;
  box-shadow: 0 0 0 2px #c1f5e7;
}
#form-contato textarea.form-control {
  min-height: 140px;
  resize: vertical;
  text-align: left;
}
/* Fim: Contato */





