/* Header bk - Light Mode/Dark Mode */
.navbar-custom {
  background: linear-gradient(to right, #7f38fb, #6200ea);
}
/* Espaço entre o Header e o Body */
body .container{
  margin-top: 50px;
}

/* Esconde cor de: Trigger */
.fade-toggle {
  display: none;
}
.fade-toggle.show, .mt-2.show {
  display: block !important;
}

/* Esconde cor de: cor do card */
#cores-background,
#cores-gradiente {
  display: none;
}
#cores-background.show,
#cores-gradiente.show {
  display: block;
}

/* Scroll Principal */
body::-webkit-scrollbar {
  width: 7px;              
} body::-webkit-scrollbar-track {
  background: rgba(95, 95, 95, 0);        
} body::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #7f38fb, #6200ea);    
  border-radius: 12px;        
}
/* Scroll Principal - Ícones*/
#icones-galeria::-webkit-scrollbar {
  width: 7px;              
}
#icones-galeria::-webkit-scrollbar-track {
  background: rgba(95, 95, 95, 0);        
}
#icones-galeria::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #353b43, #353b43);    
  border-radius: 12px;        
}

/* Scroll Bloco de Código */
.code-block::-webkit-scrollbar {
  width: 5px;              
}

/* Footer */
.footer-link {
    color: #b2b8c5;
    text-decoration: none;
    transition: color 0.3s ease;
}.footer-link:hover {
    color: #7f38fb;
}.social-icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin: 0 8px;
    transition: all 0.3s ease;
}.social-icon:hover {
    transform: translateY(-3px);
    color: #fff;
} footer {
  margin-top: 80px;
}

/* Galeria de Ícones */
.icon-library-vertical {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 14px;
  padding: 0px 15px;
  max-height: 300px;
  overflow-y: auto;
  background: none;
}
.icon-library-vertical .icon-item {
  background: #353b43;
  border-radius: 10px;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  cursor: pointer;
  transition: border-color 0.15s, box-shadow 0.15s;
}
/* Ícone selecionado */
.icon-library-vertical .icon-item.selected {
  border: solid #000000 2px!important;
  background: #6200ea !important;
} .icon-library-vertical .icon-item:hover {
  background: #6200ea !important;
  border: solid #000000 2px!important;
}
/* Tamanho dos ícones */
.icon-library-vertical img {
  width: 40px!important; 
  height: 40px!important;
  object-fit: contain;
  background: transparent;
}

/* Cor dos links - Header */
.nav-link {
  color: rgb(255 255 255 / 80%);
} 

/* Cor dos links - Copiar Código */
#codeTabs .nav-link {
  color: #0d6efd!important;
}
/* Cor dos links - Selecionado */
#codeTabs .nav-link.active {
  color: #6506ec!important;
}

/* Theme Light/Dark */
.dropdown-menu {
  --bs-dropdown-bg: #e0cefcd6;
}.dropdown-item.active {
  background-color: #6201ea;
}