/* ======================================================= */
/* =============== MONITOR CRAFT DARK MODE =============== */
/* ======================================================= */

/* Background Geral */
body.dark-mode {
  background: #181d27 !important;
  color: #fff !important;
}
/* Fim: Background Geral */

/* Navbar e Logo */
body.dark-mode .navbar,
body.dark-mode .navbar .container {
  background: #232a39 !important;
  color: #fff !important;
}
body.dark-mode .navbar-brand span {
  color: white !important;
}
body.dark-mode .logo {
  background: #f5f5f5;
  border-radius: 5px;
}
/* Fim: Navbar e Logo */

/* Links do Menu */
body.dark-mode .navbar .nav-link {
  color: #fff !important;
  transition: color 0.2s;
}
body.dark-mode .navbar .nav-link.active,
body.dark-mode .navbar .nav-link:focus,
body.dark-mode .navbar .nav-link:hover {
  color: #57C785 !important;
  font-weight: 600;
}
/* Fim: Links do Menu */

/* Card do Preview */
body.dark-mode .card {
  background: #232a39;
  color: #f2f2f2 !important;
  border-color: #1d2535 !important;
}

body.dark-mode #visualizacaoCardDarkmode {
  background: #232a39 !important;
}
/* Fim: Card do Preview */

/* Inputs, Selects e Textarea */
body.dark-mode .form-control,
body.dark-mode .form-select {
  background: #181d27 !important;
  color: #fff !important;
  border-color: #30354a !important;
}

body.dark-mode input[type="color"] {
  background: transparent !important;
  border: none !important;
}

body.dark-mode input::placeholder,
body.dark-mode textarea::placeholder {
  color: #fff !important;
  opacity: 1;
}

body.dark-mode .btn-success {
  background: #57C785 !important;
  color: #121a26 !important;
  border-color: #57C785 !important;
}
/* Fim: Inputs, Selects e Textarea */

/* Blocos de Código (pré) */
body.dark-mode pre {
  background: #212736 !important;
  color: #a2e1af !important;
  border-radius: 6px;
  border: 1px solid #1d2535 !important;
  font-size: 15px;
  transition: background 0.2s;
}
/* Fim: Blocos de Código (pré) */

/* Galeria de Ícones */
body.dark-mode #icones-galeria img .selected:hover {
  border: solid 2px #57C785 !important;
}

body.dark-mode #icones-galeria img:hover {
  border: solid 2px #57C785 !important;
  background: #181d27 !important;
}
/* Fim: Galeria de Ícones */

/* Dropdown/Select */
body.dark-mode .form-select:focus {
  border-color: #57C785 !important;
  box-shadow: 0 0 0 0.1rem rgba(87, 199, 133, 0.2) !important;
}
/* Fim: Dropdown/Select */

/* Títulos/Labels */
body.dark-mode h6,
body.dark-mode .form-label {
  color: #91ffcd !important;
  letter-spacing: 0.01em;
}
/* Fim: Títulos/Labels */

/* Bloco de Código */
body.dark-mode .code-block {
  background: #181d27;
  color: #a2e1af;
  border-color: #292f3e;
}
/* Fim: Bloco de Código */

/* Footer */
body.dark-mode footer {
  background: #181d27 !important;
  border-top: 1px solid #222a34 !important;
}
body.dark-mode footer .text-muted {
  color: #c8ffe1 !important;
}
body.dark-mode footer a.text-muted {
  color: #57C785 !important;
}
/* Fim: Footer */

/* FAQ */
body.dark-mode .faq-card {
  background: #181d27 !important;
  border-color: #363f4e !important;
}
body.dark-mode .faq-img {
  background: #232a39 !important;
  border-color: #363f4e !important;
}
body.dark-mode .faq-card h5,
body.dark-mode .faq-card p {
  color: #c8ffe1 !important;
}
/* Fim: FAQ */

/* Contato */
body.dark-mode #form-contato .form-control {
  background: #232a39 !important;
  color: #d0ffe8;
  border-color: #363f4e;
}
body.dark-mode #form-contato .form-control:focus {
  border-color: #57C785;
  box-shadow: 0 0 0 2px #57C78544;
}
/* Fim: Contato */

/* Demais Ajustes */
body.dark-mode .form-check-label,
body.dark-mode label {
  color: #b7ffe3 !important;
}
body.dark-mode .rounded {
  background: #232a39 !important;
}

body.dark-mode hr {
  border-color: #364156 !important;
}

@media (max-width: 991px) {
  body.dark-mode .navbar .nav-link {
    color: #fff !important;
  }
}
/* Fim: Demais Ajustes */
